In [275]:
# import libraries
import pandas as pd
import numpy as np
from calendar import month_abbr

# load dataset
df = pd.read_csv('bank_marketing.csv')

# Chunking the Dataset

Separate bank-marketing dataset into three sub-dataset.

In [276]:
# create client dataset
df_client = df[['client_id', 'age', 'job', 'marital', 'education', 'credit_default', 'mortgage']]

# create campaign dataset
df_campaign = df[['client_id', 'number_contacts', 'contact_duration', 'previous_campaign_contacts', 'previous_outcome', 
                  'campaign_outcome', 'day', 'month']]

# create economics dataset
df_economics = df[['client_id', 'cons_price_idx', 'euribor_three_months']]

# Data Cleaning

Clean each dataset as per requirement.

## 1. Client Dataset

Overview of Client Dataset.

In [277]:
df_client.sample(10)

,client_id,age,job,marital,education,credit_default,mortgage
5848,5848,36,admin.,married,university.degree,no,yes
11260,11260,57,retired,married,basic.4y,unknown,no
3552,3552,48,management,married,university.degree,no,no
2783,2783,48,retired,married,basic.9y,no,no
14693,14693,58,retired,married,basic.4y,unknown,no
13972,13972,30,services,single,high.school,no,yes
32114,32114,37,blue-collar,married,high.school,unknown,yes
14059,14059,25,unemployed,married,university.degree,no,no
28599,28599,31,admin.,married,university.degree,no,no
16091,16091,38,self-employed,single,unknown,no,no

In [278]:
# check datatype
df_client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   mortgage        41188 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.2+ MB

no missing values in client dataset.
column credit_default and mortgage should convert to boolean data type.

### credit_default column and mortgage column

In [279]:
# check unique values from the columns
print('Unique values in credit_default column before conversion: ', df_client.credit_default.unique())
print('Unique values in mortgage column before conversion: ', df_client.mortgage.unique())

# replace values
df_client['credit_default'] = np.where(df_client['credit_default'] == "yes", 1, 0)
df_client['mortgage'] = np.where(df_client['mortgage'] == "yes", 1, 0)
print("\n")

# check unique values from the columns
print('Unique values in credit_default column after conversion: ', df_client.credit_default.unique())
print('Unique values in mortgage column after conversion: ', df_client.mortgage.unique())

Unique values in credit_default column before conversion:  ['no' 'unknown' 'yes']
Unique values in mortgage column before conversion:  ['no' 'yes' 'unknown']


Unique values in credit_default column after conversion:  [0 1]
Unique values in mortgage column after conversion:  [0 1]

<ipython-input-279-872bce390212>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_client['credit_default'] = np.where(df_client['credit_default'] == "yes", 1, 0)
<ipython-input-279-872bce390212>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_client['mortgage'] = np.where(df_client['mortgage'] == "yes", 1, 0)

In [280]:
df_client.dtypes

client_id          int64
age                int64
job               object
marital           object
education         object
credit_default     int64
mortgage           int64
dtype: object

In [281]:
# check datatype
print("Type of credit_default column before conversion: ", df_client.credit_default.dtype)
print("Type of mortgage column before conversion: ", df_client.mortgage.dtype)

# convert datatype
df_client['credit_default'] = df_client.credit_default.astype('bool')
df_client['mortgage'] = df_client.mortgage.astype('bool')
print("\n")

# check datatype after conversion
print("Type of credit_default column after conversion: ", df_client.credit_default.dtype)
print("Type of mortgage column after conversion: ", df_client.mortgage.dtype)

Type of credit_default column before conversion:  int64
Type of mortgage column before conversion:  int64


Type of credit_default column after conversion:  bool
Type of mortgage column after conversion:  bool

<ipython-input-281-e1603a07d178>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_client['credit_default'] = df_client.credit_default.astype('bool')
<ipython-input-281-e1603a07d178>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_client['mortgage'] = df_client.mortgage.astype('bool')

### job column and education column

In [282]:
# check unique values
print("Unique values in job column before conversion: ", df_client.job.unique())

# change "." to "_"
df_client['job'] = df_client['job'].apply(lambda x: x.replace('.', '_'))

# check unique values after conversion
print("Unique values in job column after conversion: ", df_client.job.unique())

Unique values in job column before conversion:  ['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']
Unique values in job column after conversion:  ['housemaid' 'services' 'admin_' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']

<ipython-input-282-ce2fe538d1bb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_client['job'] = df_client['job'].apply(lambda x: x.replace('.', '_'))

In [283]:
# check unique values
print("Unique values in education column before conversion: ", df_client.education.unique())

# change "." to "_" and "unknown" to "np.NaN"
df_client['education'] = df_client['education'].apply(lambda x: x.replace('.', '_'))
df_client['education'] = df_client['education'].replace('unknown', np.NaN)

# check unique values after conversion
print("Unique values in education column after conversion: ", df_client.education.unique())

Unique values in education column before conversion:  ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']
Unique values in education column after conversion:  ['basic_4y' 'high_school' 'basic_6y' 'basic_9y' 'professional_course' nan
 'university_degree' 'illiterate']

<ipython-input-283-d8a09f5dec4a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_client['education'] = df_client['education'].apply(lambda x: x.replace('.', '_'))
<ipython-input-283-d8a09f5dec4a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_client['education'] = df_client['education'].replace('unknown', np.NaN)

In [284]:
df_client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       39457 non-null  object
 5   credit_default  41188 non-null  bool
 6   mortgage        41188 non-null  bool
dtypes: bool(2), int64(2), object(3)
memory usage: 1.6+ MB

## 2. Campaign Dataset

Overview of Campaign Dataset.

In [285]:
df_campaign.sample(10)

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,day,month
31086,31086,3,128,0,nonexistent,no,21,may
10379,10379,1,57,0,nonexistent,no,17,jun
4604,4604,1,214,0,nonexistent,no,30,may
25413,25413,1,436,0,nonexistent,no,19,nov
19405,19405,3,406,0,nonexistent,no,7,aug
40702,40702,3,81,4,success,no,26,sep
31044,31044,11,7,1,failure,no,2,may
31203,31203,1,196,0,nonexistent,no,29,may
677,677,2,75,0,nonexistent,no,31,may
29653,29653,5,19,0,nonexistent,no,30,apr

In [286]:
# check datatype
df_campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   previous_campaign_contacts  41188 non-null  int64
 4   previous_outcome            41188 non-null  object
 5   campaign_outcome            41188 non-null  object
 6   day                         41188 non-null  int64
 7   month                       41188 non-null  object
dtypes: int64(5), object(3)
memory usage: 2.5+ MB

no missing values in campaign dataset. previous_outcome column and campaign_outcome column need to be converted to boolean datatype.

### previous_outcome column and campaign_outcome column

In [287]:
# check unique values
print("Unique values in previous_outcome column before conversion: ", df_campaign.previous_outcome.unique())
print("Unique values in campaign_outcome column before conversion: ", df_campaign.campaign_outcome.unique())

# replace values
df_campaign['previous_outcome'] = np.where(df_campaign['previous_outcome'] == "success", 1, 0)
df_campaign['campaign_outcome'] = np.where(df_campaign['campaign_outcome'] == "yes", 1, 0)
print("\n")

# check unique values after conversion
print("Unique values in previous_outcome column after conversion: ", df_campaign.previous_outcome.unique())
print("Unique values in campaign_outcome column after conversion: ", df_campaign.campaign_outcome.unique())

Unique values in previous_outcome column before conversion:  ['nonexistent' 'failure' 'success']
Unique values in campaign_outcome column before conversion:  ['no' 'yes']


Unique values in previous_outcome column after conversion:  [0 1]
Unique values in campaign_outcome column after conversion:  [0 1]

<ipython-input-287-b141496cd504>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['previous_outcome'] = np.where(df_campaign['previous_outcome'] == "success", 1, 0)
<ipython-input-287-b141496cd504>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['campaign_outcome'] = np.where(df_campaign['campaign_outcome'] == "yes", 1, 0)

In [288]:
# check datatype 
print("Type of previous_outcome column before conversion: ", df_campaign.previous_outcome.dtype)
print("Type of campaign_outcome column before conversion: ", df_campaign.campaign_outcome.dtype)

# convert datatype
df_campaign['previous_outcome'] = df_campaign.previous_outcome.astype('bool')
df_campaign['campaign_outcome'] = df_campaign.campaign_outcome.astype('bool')
print("\n")

# check datatype after conversion
print("Type of previous_outcome column after conversion: ", df_campaign.previous_outcome.dtype)
print("Type of campaign_outcome column after conversion: ", df_campaign.campaign_outcome.dtype)

Type of previous_outcome column before conversion:  int64
Type of campaign_outcome column before conversion:  int64


Type of previous_outcome column after conversion:  bool
Type of campaign_outcome column after conversion:  bool

<ipython-input-288-d13b2c0116b9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['previous_outcome'] = df_campaign.previous_outcome.astype('bool')
<ipython-input-288-d13b2c0116b9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['campaign_outcome'] = df_campaign.campaign_outcome.astype('bool')

In [289]:
# create year column
df_campaign['year'] = 2022

# mapping the months
map_month = {'mar': '03', 'apr': '04', 'may': '05', 'jun': '06',
         'jul': '07', 'aug': '08','sep': '09', 'oct': '10', 'nov': '11', 'dec': '12'}

df_campaign['month_num'] = df_campaign.month.map(map_month)

# reformat day into 2 digit
df_campaign['day'] = ["{:02}".format(num) for num in df_campaign['day']]

# create last_contact_date column
df_campaign['last_contact_date'] = df_campaign.year.astype(str) + "-" + df_campaign.month_num.astype(str) + "-" + df_campaign.day.astype(str)

# convert last_contact_date column datatype
df_campaign['last_contact_date'] = pd.to_datetime(df_campaign['last_contact_date'])

# drop unnecessary columns
df_campaign = df_campaign.drop(['day', 'month', 'year', 'month_num'], axis=1)

<ipython-input-289-83e93c835f7f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['year'] = 2022
<ipython-input-289-83e93c835f7f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['month_num'] = df_campaign.month.map(map_month)
<ipython-input-289-83e93c835f7f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['day'] = ["{:02}".format(num) for num in df_campaign['day']]
<ipython-input-289-83e93c835f7f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['last_contact_date'] = df_campaign.year.astype(str) + "-" + df_campaign.month_num.astype(str) + "-" + df_campaign.day.astype(str)
<ipython-input-289-83e93c835f7f>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_campaign['last_contact_date'] = pd.to_datetime(df_campaign['last_contact_date'])

In [290]:
df_campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   previous_campaign_contacts  41188 non-null  int64
 4   previous_outcome            41188 non-null  bool
 5   campaign_outcome            41188 non-null  bool
 6   last_contact_date           41188 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](1), int64(4)
memory usage: 1.6 MB

In [291]:
df_campaign.sample(5)

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,last_contact_date
19917,19917,1,131,0,False,False,2022-08-17
38817,38817,1,210,1,True,True,2022-11-02
38674,38674,3,96,1,False,False,2022-11-17
38091,38091,1,152,1,True,True,2022-09-11
9742,9742,5,100,0,False,False,2022-06-20

## 3. Economics Dataset

Overview of Ecomonics Dataset.

In [292]:
df_economics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   client_id             41188 non-null  int64
 1   cons_price_idx        41188 non-null  float64
 2   euribor_three_months  41188 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 965.5 KB

In [293]:
df_economics.sample(5)

       client_id  cons_price_idx  euribor_three_months
4740        4740          93.994                 4.858
14824      14824          93.918                 4.957
5622        5622          93.994                 4.857
32314      32314          92.893                 1.313
9920        9920          94.465                 4.959